<div class="container__big-card">
  <div class="big-card__picture">
    <img
    src="https://images.unsplash.com/photo-1526925539332-aa3b66e35444?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80"
    alt=""
    >
  </div>
    <p>April 12, 2023</p>
  <div class="big-card__title">
    <h1>Lorem ipsum, dolor sit</h1>
  </div>
  <div class="big-card_description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente excepturi pariatur, rem obcaecati, aperiam porro nesciunt expedita quos mollitia praesentium laboriosam iure nam minima voluptates unde! Obcaecati iste sunt iusto.</p>
  </div>
</div>
