.container__menu-title h1{
  color: White;
  font-size: 7rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;

  border: 2px solid gray;
  padding: .4rem;
  border-left: 0;
  border-right: 0;


}

