<div class="content">

<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    PostImage="https://images.unsplash.com/photo-1680937395922-7519e636ffe4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
    PostData="April 12, 2023"
    PostTitle="assumenda at aut incidunt maiores"
    PostContent="Lturorem ipsum dolor sit amet consecte adipisicing elit. Cumque debitis, expedita velit  vel. Ipsa officia nemo atque excepturi a nulla eius id quibusdam assumenda quis! vel. Ipsa officia nemo atque excepturi a nulla eius id quibusdam assumenda quis!"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    PostImage="https://images.unsplash.com/photo-1579508542697-bb18e7d9aeaa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
    PostData="June 22, 2022"
    PostContent="isicing elit. Cumque debitis, expedita velit  vel. Ipsa officia nemo a"
    ></app-small-card>
    <app-small-card
    Id="3"
    PostImage="https://images.unsplash.com/photo-1571607388263-1044f9ea01dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2Fycm8lMjBlc3BvcnRpdm98ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
    PostData="June 22, 2022"
    PostContent="isicing elit. Cumque debitis, expedita velit  vel. Ipsa officia nemo a"
    ></app-small-card>
    <app-small-card
    Id="4"
    PostImage="https://images.unsplash.com/photo-1506610654-064fbba4780c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
    PostData="June 22, 2022"
    PostContent="isicing elit. Cumque debitis, expedita velit  vel. Ipsa officia nemo a"
    ></app-small-card>
    <app-small-card
    Id="5"
    PostImage="https://images.unsplash.com/photo-1608340821332-3a73fadd890c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNhcnJvJTIwZXNwb3J0aXZvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
    PostData="June 22, 2022"
    PostContent="isicing elit. Cumque debitis, expedita velit  vel. Ipsa officia nemo a"
    ></app-small-card>


  </div>
</div>


</div>
