<div class="container__nav">
  <div class="container__nav-left">
    <ul class="nav">
      <h1>G</h1>
      <li><a href="#">LEARN</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">BOOKMARKS</a></li>
      <li><a href="#">UI KIT</a></li>
      <li><a href="#">LAYN NYA</a></li>
    </ul>
  </div>
  <div class="container__nav-right">
    <ul class="nav">
      <li><a href="#">twitter</a></li>
      <li><a href="#">insta</a></li>
      <li><a href="#">dribbble</a></li>
    </ul>
  </div>
</div>
